
@font-face {
    font-family: 'ExBold';
    font-weight: 800;
    src: url('../assets/fonts/Poppins-ExtraBold.ttf') ;
       
}

@font-face {
    font-family: 'Bold';
    font-weight: 700;
    src: url('../assets/fonts/Poppins-Bold.ttf') ;
       
}

@font-face {
    font-family: 'SemiBold';
    font-weight: 600;
    src: url('../assets/fonts/Poppins-SemiBold.ttf') ;
       
}

@font-face {
    font-family: 'Thin';
    font-weight: 300;
    src: url('../assets/fonts/Poppins-Thin.ttf') ;
       
}

@font-face {
    font-family: 'Medium';
    font-weight: 500;
    src: url('../assets/fonts/Poppins-Medium.ttf') ;
       
}

@font-face {
    font-family: 'Regular';
    font-weight: 400;
    src: url('../assets/fonts/Poppins-Regular.ttf') ;
       
}

:root{
    --black: #070707;
}

h3,h1,h2,h4,h5,h6,p{
    color: #fff;
}

.bi-rocket-takeoff{

    font-size: 50px ;
    margin-left: 40px;
    margin-right:20px ;
    
}

.themeButton{
    background-color: #ff9524;
    font-family: Poppins;
    padding: 2px 20px;
    
    margin-top: 15px;
    font-size: 30px;
}

.themeButton:hover{
    background-color: #E83D29;
    font-family: Poppins;
    padding: 2px 20px;
    
    margin-top: 15px;
    font-size: 30px;
}

.navbar li{
    position: relative;
}


.active::after{
    content: '';
    height: 4px;
    width: 90%;
    background-color: #ff9524;
    position: absolute;
    left: 20px;
    bottom: 0px;
    top: 65px;
    opacity:1 ;
    
}



.text{
    font-size:30px;
    margin-left: 20px;
}

.navItem{
    color: #fff;
    font-size: 17px;
    font-family: Regular;
    margin: 0px 30px;
    margin-top: 10px;

   
}

a :active{
    text-decoration: underline;
}

.navbar a:hover{
    
    color: #fff;
    transition: 0.1s;
    text-shadow: 
        0 0 2px #fff,
        0 0 4px #fff ,
        0 0 10px #02e1fa,
        0 0 12px #02e1fa
    ;
}

.navbar{
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: #3e31b0;
    
    
    
}


.navItemsCont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options{
    margin-right: 40px;
}

body{
    background-color: #3e31b0;
    font-family: 'Poppins';
    font-weight: normal;
    margin: 0;
    scroll-behavior: smooth;
    max-width: 1440px;

}
    

.sideTxtHeader{
    margin: 10px;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: Bold;
    line-height:55px;
}

.btnSidetxt{
    background-color: #ff9524;
    color:#fff ;

    margin-top: 20px;
    
}

.btnSidetxt:hover{
    background-color: #E83D29;
}


.gamePageFDiv{
    background-color: #3e31b0;
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
}

.gamesPageFPic{
    width: 40%;
    height: 40%;
    margin-top: 150px;
    border-radius: 20px;
}

.sideTextGames{
    padding: 15px;
    color: #fff;
    width:30%;
    margin-top: 200px;
    background-color: #3e31b0;
    font-size: 22px;
    font-size: 15px;
    font-family: Regular;
    line-height: 30px;
}


.themeButton{
    background-color: #ff9524;
    font-family: Regular;
    padding: 2px 20px;
    
    margin-top: 15px;
    font-size: 30px;
}

.themeButton:hover{
    background-color: #E83D29;
    font-family: Regular;
}


.footerHome{
    background-color: var(--black) ;
    padding-top: 80px;
    
}

.footerHome h4{
    font-family: SemiBold;
    font-size: 17px;
}

.footerHome p {
    font-family: Regular;
    font-size: 16px;
}

.footerHome .row{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

.footerHome li , ul {
    color: #fff;
    list-style: none;
}

.footerHome ul{
    padding: 0px;
}

.footerHome .footer-col{
    width: 20%;
    padding: 0 15px;
}

.footerHome .container{
    max-width: 1170px;
    background-color: var(--black);
    margin: auto;
    
}

a{
    text-decoration: none;
}

.socialLinks i {
    color: #fff;
    font-size: 30px;
    padding-right: 10px;
}

button{
    border-radius: 10px;
    padding: 0px 20px;
    border: none;
    
}

h2{
    font-size: 30px
}

.subscribe{
    padding-bottom: 100px;
    background-color: #3e31b0;
    padding-top: 80px;
}

.subscribe h2 {
    font-size: 30px;
    font-family: SemiBold;
}

.subscribe p {
    font-size: 16px;
    font-family: Regular;
    width: 40%;
}

.newsletterSub h2{
    font-family: Regular;
}

.newsletterSub p{
    font-size: 17px;
    width: 100%;
}

.newsletterSub{
    display: flex;
    margin: auto;
    width:80%;
    border-radius: 30px;
    background-color: var(--black);
    justify-content: center;
   
}

.newsletterSub h2 , p {
    border: 0px;
    margin: 0px;
}

.inputEmailDiv   {
    display: flex;
    padding: 60px 40px;
    
    width: 60%;
   
}

.submitEmailBut{
    position: relative;
    right: 60px;
    width: 50%;
    background-color: #ff9524;
    color: #fff;
    border-radius: 30px;
    border: none;
   
}


.inputBoxEmail{
   
    width: 100%;
    border-radius: 20px;
    border: none;
   
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-SemiBold.ttf') ;
       
}


.navbar ul , .trendingGames ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: inherit;
  }

  .navbar a {
    text-decoration: none;
    padding: 15px;
    display: block;

  }

  .navbar li{
    float :left;
  }


  .whyWWU , .ourTeam{
    padding-bottom: 40px;
    clear: both;
    bottom: 300px;
    background-color: #3e31b0;
    
}

.whyWWU h3 ,.ourTeam h3{
    padding: 0 20px ;
    padding-top: 30px;
    font-family: SemiBold;
    font-size: 20px;
}

.whyWWU h2 {
    
    padding: 50px; 
    font-size: 25px;
    padding-left: 110px;
    margin-top: 0px;
    font-family: SemiBold;
}

.ourTeam h2 {
    padding: 50px; 
    font-size: 30px; 
    padding-left: 110px; 
    margin-top: 0px;
    font-family: SemiBold;
    font-size: 25px;
}

.whyWWU p , .ourTeam p{
    padding: 0 20px ;
    font-size: 14px;
    font-family: Medium;
    line-height: 25px;
}

.whyWWU button , .ourTeam button{
    margin: 0 100px ;
    margin-top: 40px;
    font-size: 20px;
    padding: 5px 10px;
    color: #fff;
    background: #B000DC1C;

}

.whyWWU div , .ourTeam div{
    background-color: #3e31b0;
}
.whyWWU div:hover , .ourTeam div:hover{
    filter: drop-shadow(-10px -10px 10px white);
}

.whyWWU article:hover , .ourTeam article:hover{
    transition: 0.3s;
    font-size: larger;
}

.trendingGameCards{
    width:100%;
    
}

.whyWWU ul , .ourTeam ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: inherit;
  }

  .whyWWU li , .ourTeam li{
    float :left;
  }

 .whyWWU li , .ourTeam li{
    width: 20%;
    margin: 10px;
  }

  .whyWWU div , .ourTeam div{
    aspect-ratio: 1/1;
    width: 100%;
    background-color: #1C140F;
    border-radius: 20px; 
  }

  .ourTeam img{
    width :80%;
    aspect-ratio: 1/1;
    margin-left: 30px;
    margin-top: 30px;
  }

  .ourTeam p{
    text-align: center;
    font-family: Thin;
    padding-bottom: 40px;
    font-size: 16px;
  }
  .ourTeam h3{
    margin-bottom: 5px;
    font-size: 19px;
    font-family: Semibold;
  }

  .whyWWU ul , .ourTeam ul{
   
    display: flex;
    justify-content: center;
  }

  .support{
    position: fixed;
    translate: 0 00px;
    z-index: -1;
    width: 100%;
    background-color:#1C140F;
    top:0px;
    display: flex;
    justify-content: space-between;
  }

  .support h2 {
    font-family: SemiBold;
    font-size: 28px;
  }

  .support p {
    font-family:Regular;
    line-height: 30px;
    font-size: 16px;
  }

  .support div{
    margin-top: 250px;
    width: 30%;
    padding-right: 100px;
  }

  .support img{
    width: 48%;
   
  }

  .ourTeam{
    margin-top: 400px;
    background-color: #3e31b0;
  }
   
  